@use  "../colors";

.content {
    transform: translateY(-10%);

    &__title {
        @extend %text-light-grey;
        font-size: 7rem;
        letter-spacing: .4rem;
        transform: translate(0, 22%);
        z-index: 0;
    }

    &__description {
        @extend %text-dark-grey;
    }

    &__link {
        @extend %text-dark-grey;
    }
}