@use  "../colors";

.content {
    transform: translateY(-10%);

    &__title {
        @extend %text-light-grey;
        font-size: 7rem;
        letter-spacing: .4rem;
        transform: translate(0, 22%);
        z-index: 0;
    }

    &__description {
        @extend %text-dark-grey;
    }

    &__link {
        @extend %text-dark-grey;
    }


    @media screen and (min-width: 600px) {
        & {
            padding-left: 8%;
            padding-top: 3rem;
            padding-right: 8%;
            position: relative;
            transform: translateY(0%);
        }

        &__title {
            font-size: 10rem;
            left: 0;
            position: absolute;
            transform: translate(0, -25%);
            top: 0;
            z-index: -1;
        }
    }

    @media screen and (min-width: 768px) {
        & {
            margin-top: 4rem;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 6rem !important;
        }

        &__title {
            font-size: 12rem;
        }
    }

    @media screen and (min-width: 922px) {
        & {
            margin-top: 0;
            padding: 0 !important;
            width: 35%;
        }

        &__title {
            transform: translate(16%, -60%);
        }
    }
}