@use  "../colors";

.hero {

    &__image-container {
        height: 300px;
    }

    &__content {
        background-color: #FFF;
        transform: translateY(-30%);
        width: 70%;
    }

    &__author {
        @extend %text-dark-grey;
    }

    &__avatart-image-container {
        height: 90px;
        width: 90px;
    }
}