@use  '../base';

.grid {
    @extend %px;

    .grid__image-container {
        height: 260px;

        &--large {
            height: 380px;

            .grid__image {
                object-fit: cover;
            }
        }
    }

    .grid__image-caption {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
    }
}